<hibernate-configuration>
        <session-factory>
        <!-- Setup Driver and Host info -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:13000/hibernate</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">*******</property>

        <!-- Add annotaded classes -->
        <mapping class="maxweb.studio.Author"/>
        <mapping class="maxweb.studio.Book"/>
        <mapping class="maxweb.studio.Library"/>

        <!--  Specify the behavior for hibernate, how it will interact with database schema

            Possible values:
            - validate     → Only validates that the schema matches the entities; does NOT create or change anything.
            - update       → Updates the schema to match the entities. Adds tables/columns if missing, but won't delete anything.
            - create       → Drops the schema and recreates it from scratch every time the app starts. All data will be lost.
            - create-drop  → Same as 'create', but also drops the schema when the session factory closes (e.g., on shutdown).
            - none         → Does nothing to the schema; you manage it yourself.

            -->

        <property name="hibernate.hbm2ddl.auto">update</property>

         <!-- This tells Hibernate to bind the session (getCurrentSession) to the current thread. -->
        <property name="hibernate.current_session_context_class">thread</property>


        <!-- Useful features -->
        <property name = "hibernate.show_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.format_sql">true</property>

    </session-factory>
</hibernate-configuration>